<div class="jumbotron">

	<center>
		<h1>Welcome to my Coffee Shop!</h1>

		<img src="http://bashooka.com/wp-content/uploads/2013/02/coffee-logos-77.png">
		<br>

		<%= link_to "Check out our coffees!", cafes_path, class: "btn btn-default" %>
	</center>
</div>